*.smt2
*.yslog
*.check
*.ys.v
addrdecode_*/
afifo_*/
apbslave_*/
axi2axilite_*/
axi_addr_miter_*/
axidma_*/
axil2axis_*/
axil2apb_*/
axildouble_*/
axilite2axi_*/
axilwr2wbsp_*/
axilrd2wbsp_*/
axilsafety_*/
axilsingle_*/
axildouble_*/
axilxbar_*/
axidouble_*/
aximrd2wbsp_*/
aximwr2wbsp_*/
aximm2s_*/
axiperf_*/
axis2mm_*/
axisafety_*/
axisgfsm_*/
axisrandom_*/
axissafety_*/
axisswitch_*/
axixbar_*/
axixclk_*/
axlite2wbsp_*/
demoaxi_*/
demofull_*/
easyaxil_*/
sfifo_*/
skidbuffer_*/
wbarbiter_*/
wbm2axilite_*/
wbm2axisp_*/
wbp2classic_*/
wbc2pipeline_*/
wbsafety_*/
xlnxdemo_*/
xlnxfull_*/
xlnxstream_*/
wbxbar_*/
wbxclk_*/
