*.smt2
*.yslog
*.check
*.ys.v
aximrd2wbsp_*/
axilwr2wbsp_*/
axilrd2wbsp_*/
axlite2wbsp_*/
demoaxi_*/
wbarbiter_*/
wbm2axilite_*/
wbm2axisp
wbp2classic_*/
wbc2pipeline_*/
xlnxdemo_*/
xlnxfull_*/
wbxbar_*/
axixbar_*/
axilxbar_*/
demofull_*/
wbm2axisp_*/
axisafety_*/
